.text-center{text-align:center}

.Nav{
    padding-top: 1em;
    padding-bottom: 40px;
    float: left;
    width: 300px;
    position: fixed;
    z-index: 1001;
    background-color: #f2f2f2;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; 
    height: 100%
}

ul {
    list-style: none;
    padding: 0
}

.author-img img{
    width: 175px
}

a {
    color: #2c2c2c;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;}
    a:hover, a:active, a:focus {
      color: #2c98f0;
      outline: none;
      text-decoration: underline !important; }

.react-icons{
    width:1.5em;
    height:1.5em
}

#navbar{padding-bottom:50px}

#main-menu li{
    text-align:center
}

.phone-number{
    padding-bottom:50px
}

.name{padding-bottom:50px}
