#header-section{
    width: 100vh;
    /* float: left; */
    padding-left: 350px;
    display:block;
    height: 100vh;
}

.head-title{font-size: 80px; line-height: 100px; padding-top: 400px}
.type-wrap{font-size: 30px; line-height: 50px;}
.head-icons{
    height:4em;
    widtH: 4em
}